# Ignora pastas de cache geradas automaticamente pelo Python
__pycache__/
*.py[cod]
*$py.class

# Ignora ambientes virtuais
venv/
env/
.venv/

# Ignora variáveis de ambiente
.env


.vscode/


.DS_Store